.card-modal {
  address {
    font-size: 14px;
    font-style: normal;
    opacity: 0.9;
  }
  .title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: bold;
    margin-top: 0;
    margin-bottom: 0;
    font-size: 20px;
    strong {
      font-size: 15px;
      display: block;
      color: #6e6e6e;
    }
  }
  .buttons {
    padding: 10px;
    background: #fafafa;
    margin: 20px -20px;
  }
}

.payment {
  text-align: center;
  margin-bottom: 30px;
  .value-payment {
    display: block;
    text-align: center;
    width: 100%;
    color: var(--ion-color-primary);
    font-weight: bold;
    padding: 10px 0;
    font-size: 35px;
  }
}