.card-modal {
  address, p {
    font-size: 13px;
    font-style: normal;
    opacity: 0.9;
    margin: 0;
  }
  .title {
    font-weight: bold;
    margin-top: 20px;
    margin-bottom: 8px;
    font-size: 25px;
    strong {
      font-size: 15px;
      display: block;
      color: #6e6e6e;
    }
  }
  .buttons {
    padding: 10px;
    background: #fafafa;
    margin: 20px -20px;
  }
}

.button-close {
  position: absolute;
  right: -3px;
  top: -1px;
}

ion-badge {
  margin-right: 5px;
}

.info {
  display: flex;
  align-items: center;
  margin-bottom: 15px;
}

.payment {
  text-align: center;
  margin-bottom: 20px;
  .value-payment {
    display: block;
    text-align: center;
    width: 100%;
    color: var(--ion-color-primary);
    font-weight: bold;
    padding: 7px 0;
    font-size: 32px;
  }
}