<div class="card-modal">
  <ion-button class="button-close" fill="clear" color="transparent" (click)="close()">
    <ion-icon slot="icon-only" name="close-circle"></ion-icon>
  </ion-button>
  <h2 class="title">
    Vagas Ocupadas
  </h2>
  <ion-list>

    <ion-item *ngFor="let user of list">
      <ion-avatar slot="start">
        <img [src]="user.client.foto">
      </ion-avatar>
      <ion-label>
        <h2>{{ user.client.nome }}</h2>
        <h3>
          <ion-icon name="car"></ion-icon> {{ user.client.marcaVeiculo + ' | ' + user.client.placaVeiculo }}
        </h3>
        <p>{{ 'De ' + (user.checkIn | date: 'short') + ' até ' + (user.checkOut | date: 'short') }}</p>
      </ion-label>
    </ion-item>
  </ion-list>
</div>
