<ion-content>

  <ion-progress-bar *ngIf="isLoading" type="indeterminate"></ion-progress-bar>

  <div id="container">
    <div class="map" id="map_canvas"></div>
    <header class="header-search">
      <menu-button></menu-button>
      <ion-searchbar 
        *ngIf="!vacancyScheduled"
        debounce="300" 
        mode="md"
        color="light"
        animated
        [(ngModel)]="searchText" 
        placeholder="Buscar Locais"></ion-searchbar>
      <ion-list *ngIf="searchText">
        <ion-item
          *ngFor="let establishment of establishments | filterList: searchText">
          <ion-label>{{ establishment.nome }}</ion-label>
        </ion-item>
      </ion-list>
    </header>
    <div class="carrousel-box" *ngIf="!isLoading && !vacancyScheduled">
      <ion-scroll scrollX="true">
        <card-establishment
          #cards
          (clickedCard)="openDetailCard($event)" 
          *ngFor="let establishment of establishments" 
          [data]="establishment">
        </card-establishment>
      </ion-scroll>
    </div>
  </div>
  <div class="container-scheduled" 
    *ngIf="vacancyScheduled" 
    [ngClass]="{'open': vacancyScheduled}">
    <ion-progress-bar type="indeterminate"></ion-progress-bar>
    <h4 class="title">Você tem uma vaga agendada!</h4>
    <div class="content">
      <div class="info">
        <img class="avatar" [src]="vacancyScheduled.establishment.foto">
        <div>
          <h4 class="title">{{ vacancyScheduled.establishment.nome }} <strong>{{ vacancyScheduled.establishment.distance }} km</strong></h4>
          <ion-badge color="secondary">{{ vacancyScheduled.valuePayment | currency: 'R$' }}</ion-badge>
        </div>
      </div>
      <div class="date">
        <p>
          <strong>CheckIn:</strong>
          {{ vacancyScheduled.dataCheckIn | date: 'dd/MM/yyyy HH:mm' }}
        </p>
        <p>
          <strong>Checkout:</strong>
          {{ vacancyScheduled.dataCheckout | date: 'dd/MM/yyyy HH:mm' }}
        </p>
      </div>
    </div>
    
  </div>
</ion-content>
