ion-menu-button {
  color: var(--ion-color-primary);
}

ion-progress-bar {
  position: absolute;
  z-index: 100;
}

#container {
  text-align: center;
  position: absolute;
  left: 0;
  right: 0;
  background: var(--ion-color-light);
  background-size: 100%; 
  height: 100vh;
  color: #ffffff;
  width: 100vw;
  box-sizing: border-box;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  top: 50%;
  transform: translateY(-50%);
}

.header-search {
  position: fixed;
  top: 40px;
  padding: 0 5%;
  left: 0;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 10;
  ion-menu-toogle {
    position: relative;
    z-index: 300;
  }
  ion-searchbar {
    font-size: 12px;
    --border-radius: 20px;
    flex: 1;
    padding-right: 0;
  }
  ion-list {
    padding: 0 10px;
    border-radius: 7px;
    width: 85vw;
    margin: -6px auto;
    position: absolute;
    top: 90%;
    right: 0;
    left: 0;
    margin: auto;
    background: #ffffff;
  }
}

.carrousel-box {
  bottom: 0;
  position: fixed;
  width: 95%;
  overflow-x: scroll;
  left: 0;
  box-sizing: border-box;
  padding: 20px 5%;
  overflow-y: hidden;
  z-index: 10;
  ion-scroll {
    display: flex;
    white-space: nowrap;
  }
  card-establishment {
    display: block;
  }
}



.map {
  width: 100vw;
  height: 100vh;
  position: absolute;
  left: 0;
  top: 0;
  z-index: 2;
}

.container-scheduled {
  position: fixed;
  bottom: 0;
  width: 100vw;
  left: 0;
  padding: 30px;
  right: 0;
  margin: auto;
  z-index: 3;
  background: #ffffff;
  text-align: left;
  transform: translateY(100%);
  transition: all 0.3s 2s ease;
  &.open {
    transform: translateY(0%);
  }
  ion-progress-bar {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
  }
  h4 {
    margin: 0 0 10px;
    font-size: 16px;
    font-weight: 600;
  }
  .content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    .avatar {
      width: 40px;
      height: 40px;
      flex-shrink: 0;
      border-radius: 100%;
      object-fit: cover;
      margin-right: 5px;
    }
    .info {
      display: flex;
      align-items: center;
    }
    .title {
      margin: 5px 0;
      font-size: 16px;
      font-weight: 400;
      strong {
        color: var(--ion-color-primary);
        display: block;
      }
    }
    .date {
      font-size: 13px;
      margin: 0;
      line-height: 1.5;
      text-align: right;
      p {
        margin: 2px 0;
        opacity: 0.7;
      }
      strong {
        display: block;
      }
    }
  }
}

ion-title {
  padding: 0;
}

ion-item {
  --border-width: 0;
}