<ion-content>

  <ion-progress-bar *ngIf="isLoading" type="indeterminate"></ion-progress-bar>

  <div id="container">
    <div class="map" id="map_canvas"></div>
    <header class="header-search" *ngIf="!vacancyScheduled">
      <ion-searchbar 
        debounce="300" 
        mode="md"
        color="light"
        animated
        [(ngModel)]="searchText"
        (ionChange)="search($event)" 
        placeholder="Buscar Locais"></ion-searchbar>
      <ion-list *ngIf="filteredItems.length > 0 && isFiltered">
        <ion-item *ngFor="let establishment of filteredItems" (click)="selectEstablishment(establishment)">
          <ion-label>{{ establishment.nome }}</ion-label>
        </ion-item>
      </ion-list>
    </header>
    <div class="carrousel-box" *ngIf="!isLoading && !vacancyScheduled">
      <ion-scroll scrollX="true" style="white-space: nowrap; height: 250px; display: flex">
        <ion-card button="true" *ngFor="let establishment of establishments" (click)="selectEstablishment(establishment)">
          <img [src]="establishment.foto" class="background">
          <ion-card-content>
            <ion-badge>{{ establishment.valorhora | currency: 'R$' }}/ h</ion-badge>
            <ion-card-title>{{ establishment.nome }}</ion-card-title>
            <ion-card-subtitle *ngIf="establishment.distance">
              <ion-icon name="location-outline"></ion-icon> {{ establishment.distance }} KM
            </ion-card-subtitle>
          </ion-card-content>
        </ion-card>
      </ion-scroll>
    </div>
  </div>
  <div class="container-scheduled" *ngIf="vacancyScheduled">
    <h4 class="title">Você tem uma vaga agendada!</h4>
    <ion-item>
      <ion-avatar slot="start">
        <img [src]="vacancyScheduled.establishment.foto">
      </ion-avatar>
      <ion-label>
        <ion-title color="primary">{{ vacancyScheduled.establishment.nome }}</ion-title>
        <h3><strong>Valor à pagar: </strong> {{ vacancyScheduled.valuePayment | currency: 'R$' }}</h3>
        <p> <strong>CheckIn:</strong> {{ vacancyScheduled.dataCheckIn | date: 'dd/mm/yyyy HH:mm' }}</p>
        <p> <strong>Checkout:</strong> {{ vacancyScheduled.dataCheckout | date: 'dd/mm/yyyy HH:mm' }}</p>
      </ion-label>
    </ion-item>
  </div>
</ion-content>
