<ion-content>
  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content
      pullingIcon="chevron-down-circle-outline"
      refreshingSpinner="circles"
      closeDuration="280"
      refreshingText="Atualizando...">
    </ion-refresher-content>
  </ion-refresher>
  <div id="container" *ngIf="user">
    <header class="heading">
      <img [src]="user.foto" [ngClass]="{'gray': !user.ativo}" class="avatar" alt="">
      <div class="text">
        <h4 class="title">{{ user.nome }}</h4>
        <p class="sub">{{ user.email }}</p>
        <ion-item color="transparent" lines="none">
          <ion-label position="stacked">{{ user.ativo ? 'Aberto' : 'Fechado' }}</ion-label>
          <ion-toggle color="secondary" (ionChange)="changeStatus(user.ativo)" [(ngModel)]="user.ativo"></ion-toggle>
        </ion-item>
      </div>
    </header>
    <div class="container-cards" (click)="openDialog()">
      <ion-card color="secondary">
        <h1 class="title">{{ vacancies.vacanciesAvailables }}</h1>
        <p>Vagas Disponíveis</p>
      </ion-card>
      <ion-card color="warning">
        <h1 class="title">{{ vacancies.vacanciesBusy }}</h1>
        <p>Vagas Ocupadas</p>
      </ion-card>
    </div>
  </div>
</ion-content>
