#container {
  text-align: center;
  position: absolute;
  left: 0;
  right: 0;
  background: #f3f5f8;
  background-size: 100%; 
  height: 100vh;
  color: black;
  overflow-y: auto;
  width: 100vw;
  padding: 5%;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  flex-direction: column;
  top: 50%;
  transform: translateY(-50%);
  .block {
    width: 100%;
  }
}


ion-thumbnail {
  --border-radius: 100%;
  --size: 80px;
}

ion-card {
  ion-skeleton-text {
    width: 100vw;
    height: 100vh;
    margin: -15px;
  }
}

.heading {
  margin: 3.5% 0;
  display: flex;
  padding: 5% 0;
  align-items: center;
  .avatar {
    width: 80px;
    height: 80px;
    object-fit: cover;
    border-radius: 100%;
    transition: all 0.3s ease;
    border: 3px solid var(--ion-color-primary);
    box-shadow: 0px -1px 16px #00000070;
    &.gray {
      filter: grayscale(0.7);
    }
  }
  .text {
    padding: 0 20px;
    text-align: left;
    flex: 1;
    box-sizing: border-box;
    ion-item {
      margin-top: -10px;
    }
  }
  .title {
    font-weight: 900;
    margin-bottom: 0;
  }
  .sub {
    margin: 2px 0;
    opacity: 0.7;
  }
}

ion-toggle {
  padding-left: 0;
}

.container-cards {
  display: flex;
  width: 100%;
  justify-content: space-between;
  ion-card {
    margin: 0;
    color: #ffffff;
    height: 180px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    text-align: center;
    flex-direction: column;
    width: 48%;
    box-shadow: -1px 1px 11px 1px #00000042;
    &[color="secondary"] {
      background: linear-gradient(to bottom, #8bc34a, #4CAF50);
    }
    &[color="warning"] {
      background: linear-gradient(to bottom, #FF5722, #FF9800);
    }
    .title {
      font-size: 45px;
      margin: 0;
    }
    p {
      margin: 0;
      font-weight: 500;
      opacity: 0.85;
      line-height: 1.2;
      font-size: 17px;
    }
  }
}