<ion-content [fullscreen]="true">

  <div id="container">
    <header class="heading">
      <img src="assets/logo.png" class="logo">
      <h1>FastParking</h1>
      <p>Encontre vagas para estacionar de onde é que você esteja</p>
    </header>
    <form class="form">
      <ion-item color="transparent">
        <ion-label color="light" position="floating">E-mail</ion-label>
        <ion-input color="light"></ion-input>
      </ion-item>
      <ion-item color="transparent">
        <ion-label color="light" position="floating">Senha</ion-label>
        <ion-input color="light"></ion-input>
      </ion-item>
      <ion-button color="light" shape="round" expand="full">Entrar</ion-button>
    </form>
    
  </div>
</ion-content>
