ion-menu-button {
  color: var(--ion-color-primary);
}

#container {
  text-align: center;
  position: absolute;
  left: 0;
  right: 0;
  background: url(src/assets/images/bg-login.jpg) no-repeat left top;
  background-size: 100%; 
  height: 100vh;
  color: #ffffff;
  width: 100vw;
  padding: 7.5%;
  box-sizing: border-box;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  top: 50%;
  transform: translateY(-50%);
}


.heading {
  text-align: center;
  logo-brand {
    display: block;
    margin: 0 auto;
  }
  > h1 {
    margin: 2px 0 15px;
  }
}

.logo {
  width: 60px;
}

.form {
  width: 90%;
  margin: 0 auto;
  display: block;
}

ion-item {
  --padding-start: 0;
  font-size: 14px;
  color: rgba(255, 255, 255, 0.5);
}

ion-button {
  margin-top: 20px;
}

.footer {
  font-size: 14px;
  margin-top: 15%;
  margin-bottom: 0;
  ion-button {
    font-size: 13.5px;
    margin-top: 0;
    font-weight: bold;
  }
}